<h1 class="text-center p-5">BIKERS</h1>
<iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/timjini/ckwnvqv2g7i0115p2zitgw261.html?title=false&access_token=pk.eyJ1IjoidGltamluaSIsImEiOiJja3duc3lsZmoycGV2MnFuc2R0b3p2MGIwIn0.FzgjAIFk0BByeaeYYqJlsw&zoomwheel=false#11.44/39.9886/-105.3025" title="Basic" style="border:none;"></iframe>

    <% @bikers.each do |biker| %>
  <div class="container">
    <div class="row p-2">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <%= image_tag "Jersey-01.jpg" %>
            <div class="card-body">
              <h5 class="card-title"><%= biker.first_name %> <%= biker.last_name %></h5>
              <p class="card-text"><%=biker.city_of_origin %> <%=biker.state_of_origin%></p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <%= image_tag "Jersey-01.jpg" %>
            <div class="card-body">
              <h5 class="card-title"><%= biker.first_name %> <%= biker.last_name %></h5>
              <p class="card-text"><%=biker.city_of_origin %> <%=biker.state_of_origin%></p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <%= image_tag "Jersey-01.jpg" %>
            <div class="card-body">
              <h5 class="card-title"><%= biker.first_name %> <%= biker.last_name %></h5>
              <p class="card-text"><%=biker.city_of_origin %> <%=biker.state_of_origin%></p>
            </div>
          </div>
      </div>
    </div>
  </div>

    <% end %>

